body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: white;
  font-weight: 400;
}

 h2, h3 {
  color: darkslategrey;
}

/* ------------------------------------------------------------------
GRID STYLINGS
------------------------------------------------------------------ */

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(55px, auto);
  grid-template-areas:
    "header"
    "nav"
    "main"
  }

  @media (min-width: 768px) {
    .grid-container {
      grid-template-columns: 70px 1fr;
      grid-template-areas:
      "header header"
      "nav main"
      ;
    }
  }

  @media (min-width: 768px) {
    .main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100px minmax(300px, auto);
      grid-template-areas:
        "main-header main-header"
        "traffic traffic"
        "daily mobile"
        "social social"
        "members activity"
        "message settings"
      ;
    }
  }

nav {
  grid-area: nav;
}

.main {
  margin: 0px 10px;
}

.main-header {
  display: flex;
  grid-area: main-header;
}

.traffic {
  grid-area: traffic;
  background-color: red;
}

.daily {
  grid-area: daily;
  background-color: orange;
}

.mobile {
  grid-area: mobile;
  background-color: green;
}

.social {
  grid-area: social;
  background-color: blue;
}

.members {
  grid-area: members;
  background-color: pink;
}

.activity {
  grid-area: activity;
  background-color: yellow;
}

.message {
  grid-area: message;
  background-color: cyan;
}

.settings {
  grid-area: settings;
  background-color: purple;
}

/* ------------------------------------------------------------------
HEADER
------------------------------------------------------------------ */

header {
  background-color: #7477BF;
  grid-area: header;
}

header h3 {
  color: white;
}

.header-wrapper {
  margin: 0px 10px;
  display: flex;
}

#bell-icon {
  padding: 20px 20px 0px 0px;
  height: 40px;
  width: 40px;
}

#bell-icon-container {
  display: inline-block;
  margin-left: auto;
}

#main-photo-area {
  display: inline-block;
  height: 40px;
  padding-left: 10px;
  border-left: 1px solid darkslategrey;
  margin-top: 20px;
}

#main-profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#name-area {
  padding-top: 10px;
  display: inline-block;
  margin-left: 10px;
}

/* ------------------------------------------------------------------
NAVIGATION
------------------------------------------------------------------ */

#navigation {
  background-color: #4D4B72;
  text-align: center;
}

@media (min-width: 768px) {
  #navigation {
    padding-top: 20px;
  }
}

.nav-icon {
  margin: 5px;
  width: 50px;
  height: 50px;
}


/* ------------------------------------------------------------------
MAIN
------------------------------------------------------------------ */
/* Dashboard & Searchbar */


.main-header-search {
  text-align: right;
  background-color: lightgray;
  border-bottom-left-radius: 25px;
  margin: 0px -10px 0px auto;
  width: 70%;
}

.headline {
  display: inline-block;
  width: 30%;
}

#searchbar {
  display: inline-block;
  margin: 1em;
  width: 80%;
  max-width: 400px;
  height: 50%;
  border: 1px solid white;
  outline: none;
}


/* New Members & Recent Activity */

.profile-image {
  border-radius: 50%;
}


/* ------------------------------------------------------------------
RADIO BUTTON STYLING (IN SETTINGS)
------------------------------------------------------------------ */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7477BF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7477BF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
