body {
  font-family: 'Open Sans', sans-serif;
}

main {
  margin-left: 15px;
}

 h2, h3 {
  color: darkslategrey;
}

/* ------------------------------------------------------------------
HEADER
------------------------------------------------------------------ */

#header {
  background-color: #7477BF;
  color: white;
  position: relative;
  padding: 0px 10px;
  display: flex;
}

#header h3 {
  color: white;
}

#header * {
  font-weight: 400;
}

#name-area {
  right: 0;
  height: 100%;
}

#name-area h3 {
  height: 100%;
  margin-top: 25px;
}

#main-profile-image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

#main-photo-area {
  border-left: 1px solid darkslategray;
  height: 50px;
  width: 50px;
  margin-top: 15px;
  padding-right: 20px;
}

#bell-icon {
  height: 40px;
  width: 40px;
}

#bell-icon-container {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 10px;
}

/* ------------------------------------------------------------------
NAVIGATION
------------------------------------------------------------------ */

#navigation {
  background-color: #4D4B72;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icon {
  margin: 5px 10px;
}

/* ------------------------------------------------------------------
MAIN
------------------------------------------------------------------ */
/* Dashboard & Searchbar */

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.main-header-search {
  flex: 1;
  text-align: right;
  background-color: lightgray;
  border-bottom-left-radius: 25px;
  margin-left: 10px;

}

#searchbar {
  margin: 1em;
  width: 200px;
  height: 50%;
  border: 1px solid white;
}


/* New Members & Recent Activity */

.profile-image {
  border-radius: 50%;
}


/* ------------------------------------------------------------------
RADIO BUTTON STYLING (IN SETTINGS)
------------------------------------------------------------------ */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7477BF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7477BF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
